<html>
  <head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <meta name="description" content="Invoice">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')
    </style>
  </head>

  <body>
    <h1>Proforma invoice</h1>

    <aside>
      <h3>Informations</h3>
      <ul>
         <li><strong>Tax ID: </strong>3x4x7xx48xx4x3</li>
         <li><strong>Address: </strong>DEF Street</li>
         <li><strong>Phone: </strong>+33 7x5 xx0 x9x</li>
         <li><strong>Email: </strong>xxx@example.com</li>
   </ul>
    </aside>

    <aside>
      <ul>
         <span class="text-bold">Client Information</span>
         <li><strong>Name: </strong> {{ name }}</li>
         <li><strong>Phone: </strong> {{ phone }}</li>
         <li><strong>Address: </strong> {{ address }}</li>
     </ul>
    </aside>

    <dl id="informations">
      <dt>Reference</dt>
      <dd>{{ reference }}</dd>
      <dt>Date</dt>
      <dd>{{ created_at }}</dd>
    </dl>

    <table>
      <thead>
        <tr>
         <th>Description</th>
         <th>VAT(%)</th>
         <th>Discount</th>
         <th>Quantity</th>
         <th>Unit Price</th>
         <th>Total Unit Price</th>
        </tr>
      </thead>
      <tbody>
         {% for product in products %}
        <tr>
          <td>{{ product['name'] }}</td>
          <td>-</td>  
          <td>-</td>  
          <td>{{ product['quantity'] }}</td>
          <td>{{ "{:,.2f}".format(product['unit_price']) }} €</td>
          <td>{{ "{:,.2f}".format(product['total_price']) }} €</td>
         </tr>
        {% endfor %}
      </tbody>
    </table>

    <footer>
      <table id="total">
        <thead>
          <tr>
            <th>Date</th>
            <th>Total to Pay</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ created_at }}</td>
            <td>{{ "{:,.2f}".format(total_price) }} €</td>
          </tr>
        </tbody>
      </table>
    </footer>
  </body>
</html>
